<header class="site-header" role="banner">
  <nav class="site-header__nav" aria-label="Primary">
    <a class="site-header__link" href="{{ '/' | relative_url }}">Home</a>
    <a class="site-header__link" href="{{ '/#projects' | relative_url }}">Projects</a>
    <a class="site-header__link" href="{{ '/thinking/' | relative_url }}">Thinking</a>
    <a class="site-header__link" href="{{ '/projects/music/' | relative_url }}">Music</a>
    <a class="site-header__link" href="{{ '/projects/foodiaries/' | relative_url }}">Food&amp;Coffee</a>
  </nav>
</header>
