<!DOCTYPE HTML>
<html lang="en" data-theme="light">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
    <meta name="author" content="{{ site.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ '/images/favicon/favicon.ico' | relative_url }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  </head>

  <body>
    <button class="theme-toggle" onclick="toggleTheme()" title="Toggle dark/light theme">
      <i class="fas fa-moon"></i>
    </button>

    <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      <tbody>
        <tr style="padding:0px">
          <td style="padding:0px">

            <!-- Navigation -->
            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
              <tbody>
                <tr style="padding:0px">
                  <td style="padding:2.5%;width:100%;vertical-align:middle">
                    <p style="text-align:center">
                      <a href="{{ '/' | relative_url }}">Home</a> &nbsp;/&nbsp;
                      <a href="{{ '/#projects' | relative_url }}">Projects</a> &nbsp;/&nbsp;
                      <a href="{{ '/#side-projects' | relative_url }}">Side projects</a> &nbsp;/&nbsp;
                      <a href="mailto:{{ site.footer-links.email }}">Contact</a>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- Main Content -->
            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
              <tbody>
                <tr>
                  <td style="padding:16px;width:100%;vertical-align:middle">
                    {{ content }}
                  </td>
                </tr>
              </tbody>
            </table>

          </td>
        </tr>
      </tbody>
    </table>

    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
